@{
    GeneralConfigurationDto conGen = JsonSerializer.Deserialize<GeneralConfigurationDto>(K["GeneralConfiguration"])!;
    var roles = User.GetRoles();
}

<div class="navcategories_section">
    <div class="container">
        <div style="display: flex;align-items: center;justify-content: space-between;">
            <div class="navcategories_dropdown">
                <button aria-controls="navcategories_collapse" aria-expanded="false" class="navcategories_btn" data-bs-target="#navcategories_collapse" data-bs-toggle="collapse" type="button">
                    <svg aria-labelledby="statsIconTitle" color="#000" fill="none" height="32px" role="img" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" width="32px" xmlns="http://www.w3.org/2000/svg">
                        <title id="statsIconTitle">Stats</title>
                        <path d="M6 7L15 7M6 12L18 12M6 17L12 17"></path>
                    </svg>
                    Trang Chủ
                </button>
               
            </div>
            <div>
                <nav id="navbar_main" class="navbar navbar-expand-lg navbar-light main-navigation">
                    <div class="container">
                        <button class="navbar-toggler" type="button">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <div class="overlay d-flex d-lg-none"></div>
                        <div class="order-lg-2 d-lg-flex w-100 sidebar pb-3 pb-lg-0 fw-bold">
                            <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 px-lg-2" >Giới thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 px-lg-2" >Chính sách</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 px-lg-2">Liên hệ</a>
                                </li>
                               
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a href="/qr/index" class="nav-link px-3 px-lg-2">Admin</a>
                                    </li>
                                    <li class="nav-item d-flex">
                                        @if ((User.IsInRole(DefaultApplicationRoles.Customer)) || (User.IsInRole(DefaultApplicationRoles.Basic)))
                                        {
                                            <a class="nav-link px-3 px-lg-2 text-blue" asp-controller="My" asp-action="Index">
                                                <i class="far fa-user"></i>
                                            </a>
                                        }
                                        @if (roles.Count() != 0 && (User.IsInRole(DefaultApplicationRoles.SuperAdmin) || roles.Count() > 1))
                                        {
                                            <a class="nav-link px-3 px-lg-2 text-carrot" asp-controller="Dashboard" asp-action="Index">
                                                <i class="fa-solid fa-layer-group"></i>
                                            </a>
                                        }
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-2" asp-controller="Account" asp-action="Logout">Thoát</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-2" href="/qr/index">Đăng Nhập</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>