
<a href="javascript:void(0)" onclick="history.back()" class="float">
    <i class="fa-solid fa-reply my-float"></i>
</a>

<nav class="mobile-menu" style="padding-left:50px;">
    <a href="/"><i class="fa fa-home"></i><small class="d-block">Home</small></a>
    <a style="margin-left:10px;" href="https://zalo.me/dalatreview"><i class="fa"></i>Zalo  0989978397</a>
    <a style="margin-left:25px;" href="/qr/index"><i class="fa fa-user"></i><small class="d-block">Tài khoản</small></a>
</nav>

