
@{
    ViewData["Title"] = "Error";
    Layout = LayoutPage.ShopLayout;
}

<div class="container">

    <div class="row">
        <h1><label class="alert alert-danger">Lỗi Không hợp lệ Mã đơn hàng đã tạo</label></h1>
    </div>
</div>

