@model CustomerDto;
@{
    ViewData["Title"] = "Account Info";
    Layout = LayoutPage.ShopLayout;
}

<div class="top-header bg-soft-ocean">
    <div class="container">
        <div class="page-title">
            <span>Thông tin tài khoản</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 content-section customer-profile">
        <div class="row">
            <div class="col-md-4">
                <partial name="_CustomerAccountTab" />
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade bg-white show active p-2">
                        <h5 class="mb-3 text-uppercase fw-bold">Địa chỉ</h5>
                        <div>
                            <div class="border my-2">
                                <div class="p-2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <span class="d-block fw-700 text-sm-3">Thương hiệu</span>
                                                <span class="d-block">
                                                    @if (@Model?.UserFirstName != null)
                                                    {
                                                        <span>@Model?.UserFirstName</span>
                                                    }
                                                    else
                                                    {
                                                        <small class="text-carrot text-lowercase">No First Name Found!</small>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <span class="d-block fw-700 text-sm-3">Tên</span>
                                                <span class="d-block">
                                                    @if (@Model?.UserLastName != null)
                                                    {
                                                        <span>@Model?.UserLastName</span>
                                                    }
                                                    else
                                                    {
                                                        <small class="text-carrot text-lowercase">No Last Name Found!</small>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <span class="d-block fw-700 text-sm-3">Email</span>
                                        <span class="d-block">
                                            @if (@Model?.UserEmail != null)
                                            {
                                                <span>@Model?.UserEmail</span>
                                            }
                                            else
                                            {
                                                <small class="text-carrot text-lowercase">No Email Found!</small>
                                            }
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="d-block fw-700 text-sm-3">Số điện thoại</span>
                                        <span class="d-block">
                                            @if (@Model?.UserPhoneNumber != null)
                                            {
                                                <span>@Model?.UserPhoneNumber</span>
                                            }
                                            else
                                            {
                                                <small class="text-carrot text-lowercase">No Phones Found!</small>
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="border-top p-2">
                                    <small class="d-block"><a class="text-sky text-decoration-none" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#accountInfoModal">Update Account Info <i class="fa-solid fa-arrow-up-right-from-square"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="accountInfoModal" tabindex="-1" aria-labelledby="accountInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="accountInfoModalLabel">Cập nhật thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="My" asp-action="AccountInfo" method="post">
                    <div class="mb-3">
                        <label asp-for="UserFirstName">Thương hiệu</label>
                        <input class="form-control" asp-for="UserFirstName"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserLastName">Tên</label>
                        <input class="form-control" asp-for="UserLastName"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserEmail">Email</label>
                        <input class="form-control" asp-for="UserEmail"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserPhoneNumber">Số Điện thoại</label>
                        <input type="number" class="form-control" asp-for="UserPhoneNumber"/>
                    </div>
                    
                    <div class="text-end d-grid gap-2 d-md-block my-4">
                        <button type="submit" class="btn btn-grass-2 px-5">Cập nhật ngay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/others/js/customer-account.js"></script>
}
