@{
    ViewData["Title"] = "Quản lý Vé Vip";
    Layout = LayoutPage.ShopLayout;
    var currentUser = ViewBag.CurrentUser as UserDto;
    var customerInfo = ViewBag.CustomerInfo as CustomerDto;
}


<div class="top-header bg-soft-ocean">
    <div class="container">
        <div class="page-title">
            <span>Tài khoản Đối tác</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 content-section customer-profile">
        <div class="row">
            <div class="col-md-4">
                <!-- Tabs nav -->
                <partial name="_CustomerAccountTab" />
            </div>
            <div class="col-md-8">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade bg-white show active p-2">
                        <h5 class="mb-3 text-uppercase fw-bold">Quản lý</h5>
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-4">
                                <a asp-controller="My" asp-action="Orders">
                                    <div class="border-radius-0 border my-2 text-center text-dark scale-item">
                                        <div class="height-120 p-3">
                                            <img src="assets/images/order-list.svg" class="h-100" loading="lazy" decoding="async">
                                        </div>
                                        <div class="w-100 p-2">
                                            <div class="d-block fw-600 text-uppercase">Danh sách vé</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                         
                       
                            <div class="col-6 col-lg-3 col-md-4">
                                <a asp-controller="My" asp-action="Address">
                                    <div class="border-radius-0 border my-2 text-center text-dark scale-item">
                                        <div class="height-120 p-3">
                                            <img src="assets/images/address.svg" class="h-100" loading="lazy" decoding="async">
                                        </div>
                                        <div class="w-100 p-2">
                                            <div class="d-block fw-600 text-uppercase">Địa chỉ Check vé</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 col-md-4">
                                <a asp-controller="My" asp-action="AccountInfo">
                                    <div class="border-radius-0 border my-2 text-center text-dark scale-item">
                                        <div class="height-120 p-3">
                                            <img src="assets/images/account-info.svg" class="h-100" loading="lazy" decoding="async">
                                        </div>
                                        <div class="w-100 p-2">
                                            <div class="d-block fw-600 text-uppercase">Thông tin tài khoản</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 col-md-4">
                                <a asp-controller="My" asp-action="Password">
                                    <div class="border-radius-0 border my-2 text-center text-dark scale-item">
                                        <div class="height-120 p-3">
                                            <img src="assets/images/password2.svg" class="h-100" loading="lazy" decoding="async">
                                        </div>
                                        <div class="w-100 p-2">
                                            <div class="d-block fw-600 text-uppercase">Password</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 col-md-4">
                                <a asp-controller="Account" asp-action="Logout">
                                    <div class="border-radius-0 border my-2 text-center text-dark scale-item">
                                        <div class="height-120 p-3">
                                            <img src="assets/images/people-logout.svg" class="h-100" loading="lazy" decoding="async">
                                        </div>
                                        <div class="w-100 p-2">
                                            <div class="d-block fw-600 text-uppercase">Đăng xuất</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/others/js/customer-account.js"></script>
}