@model LoginUserDto

@{
    ViewData["Title"] = "Login";
    Layout = LayoutPage.CleanLayout;
    AdvancedConfigurationDto conAdv = JsonSerializer.Deserialize<AdvancedConfigurationDto>(K["AdvancedConfiguration"])!;
}



<div class="top-header bg-soft-grass-2">
    <div class="container-fluid ">
        <div class="d-flex justify-content-between">
            <button onclick="history.back()" class="btn btn-light btn-sm rounded-2 bg-soft-grass-2"><i class="fa-solid fa-arrow-left"></i></button>
            <a href="/" class="btn btn-light btn-sm rounded-2 bg-soft-grass-2"><i class="fas fa-home"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="page-title">
            <span>Đăng Nhập</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 content-section">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="right-side-content">
                    <img src="/assets/images/signin-2.svg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="mw-400">
                        <div class="py-4 px-3">
                            <form asp-controller="My" asp-action="Login" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                <div class="row g-2 mt-1">
                                    <div class="col-12 mt-2">
                                        <label for="username" class="form-label">Tên tài khoản</label>
                                        <input type="text" class="form-control" asp-for="UserName" autofocus="">
                                        <span asp-validation-for="UserName"></span>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <label for="password" class="form-label">Mật khẩu</label>
                                        <input type="password" class="form-control" asp-for="Password">
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="RememberMe">
                                            <label class="form-check-label" asp-for="RememberMe">
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <button class="btn btn-grass-2 w-100 signup-button" type="submit">Đăng Nhập</button>
                                    </div>
                                </div>
                              
                                <div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>